<html xmlns:th="http://www.thymeleaf.org">
<table class="table" th:fragment = "table-admin">
    <thead>
    <tr>
        <th>IDProducts</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody >
    <tr th:each = "pd : ${listProducts}">
        <td th:text = "*{pd.getPRODUCT_ID()}"></td>
        <td th:text = "*{pd.getNameProduct()}"></td>
        <td th:text = "*{pd.getPRICE()}"></td>
        <td th:text = "*{pd.getDESCRIPTION()}"></td>
        <td>
            <button class="btn btn-primary btn-sm edit-button" data-toggle="modal" data-target="#editModal">Sửa</button>
            <button class="btn btn-danger btn-sm delete-button">Xóa</button>
        </td>
    </tr>
    </tbody>
    <button class="btn btn-success" data-toggle="modal" data-target="#addModal" th:action="@{/add}">Thêm</button>
</table>